<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle-Like Game</title>
    <style>

    </style>
</head>
<body>
<div class="container">
    <h1>Welcome to WordPlay!</h1>
    <p>Challenge your word skills with our daily or random games.</p>
    <div>
        <a href="/login" class="button login-btn">Login</a>
        <a href="/daily" class="button">Play Daily Word</a>
        <a href="/random" class="button">Play Random Word</a>
    </div>
    <div class="footer">
        <p>&copy; 2024 WoordlPlay. All rights reserved.</p>
    </div>
</div>
</body>
</html>